:root {
  --main-color: #f4c586;
  --bg-dark: rgba(0, 0, 0, 0.5);
}
h1 {
  color: var(--main-color);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1rem;   border-radius: 8px;
  display: inline-block;
}
main {
  padding: 10px;
  display:flex;
  gap: 2rem;
}
section a {
  color: var(--main-color);
}
section a:hover {}
section {
   margin: 2rem auto;
  color: var(--main-color);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
  padding: 1rem; /* some space around the text */
  border-radius: 8px; /* optional: rounded corners */
  display: inline-block;
  width: 50vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
section2 {
   margin: 2rem auto;
  color: var(--main-color);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
  padding: 1rem; /* some space around the text */
  border-radius: 8px; /* optional: rounded corners */
  display: inline-block;
  width: 50vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

header {
  text-align: center;
}
body {
  font-family: 'Sansation', sans-serif;
  font-size: 20px;
  /*font stuff*/
  margin: 0; 
  min-height: 100vh;
   background-image: url('sitebg2.png');
   background-size: cover;  
  background-repeat: no-repeat;
}
